@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  margin-top: 250px;
  margin-bottom: 700px;
  padding: 0 160px;
}

.back-to-main {
  width: 502px;
  height: 58px;
  background-color: #373635;
  border: none;
  border-radius: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.basket-item {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.basket-item-photo img {
  width: 510px;
  height: 308px;
}

.basket-item-details {
  width: 100%;
  margin-left: 30px;
}

.basket-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.basket-item-feature {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}

.basket-item-quantity {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basket-item-delete-icon {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.basket-item-delete-icon img {
  width: 15.17px;
  height: 19.5px;
}

.basket-item-delete-icon button {
  border: none;
  background-color: transparent;
}

.basket-item-checkout button {
  border: none;
  background-color: transparent;
}

.basket-bottom-checkout-container button:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.basket-item-counter-box {
  width: 170px;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.basket-item-counter-box button {
  border: none;
  background: none;
}

.basket-item-counter {
  width: 100px;
  height: 62px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 0 20px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-item-price {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.basket-item-checkout {
  width: 213px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.basket-item-checkout img {
  width: 18px;
  height: 21px;
}

.basket-total-count-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

.basket-total-count-box {
  width: 645px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket-total-count-box hr {
  width: 100%;
}

.basket-total-count {
  width: 240px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.basket-total-count p:first-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.basket-total-count p:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.basket-bottom-return-box {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 40px;
  margin-bottom: 40px;
}

.basket-bottom-return {
  display: flex;
  align-items: center;
}

.basket-bottom-return button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.basket-bottom-return img {
  width: 13.33px;
  height: 13.33px;
}

.basket-bottom-checkout-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.basket-bottom-checkout-button {
  background: #373635;
  border: none;
  border-radius: 12px;
  padding: 15px 11px 15px 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
