@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f3f3ec;
}

.basket-content {
  /* height: 1000px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 700px;
}
.left_side_of_product {
  max-width: 510px;
  width: 100%;
}

.right_side_of_product {
  margin-top: 100px;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  height: 50px;
  margin-top: 50px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #373635;
  margin-right: 0;
}

.product_box {
  width: 100%;
  /* height: 308px; */
  margin-top: 0;
}

.box_for_product_img {
  display: flex;
}

.left_side_of_product {
  margin-right: 30px;
}
.product-photo {
  width: 510px;
  height: 308px;
  margin-top: 100px;
}

.three_column_of_product {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.product_name {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.disc_of_product_name {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 10px;
}

.flex_in_product_name {
 
  display: flex;
  margin-bottom: 20px;
  margin-top: 17px;
}
.remove_btn{
  background-image: url('../../images/remove.png');
  width:15px;
  height:19px;
  margin-top: 7px;
 
 
}
.next_btn {
  background-image: url('../../images/Vector(12).png');
  background-size: contain;
  width:18px;
  height:21px;
  display: flex;
  margin-top: 5px;
}
.remove{
  margin-top: -25px;
width: 14px;
height: 2px;
cursor: pointer;
}
.add_b{
  display: flex;
  margin-top: -25px;
width: 3px;
height: 6px;
 cursor: pointer;
}

.first_product_name {
}



.div_for_img_in_product_name img {
  margin-right: 8px;
}

.disc_of_icons {
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
}


.second_product_name {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

}

.calc_of_product_name {
  display: flex;
 
}



.input_of_calc {
  width: 100px;
  height: 62px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -20px;
  
}

.price_of_product_name {
  font-size: 30px;
  font-weight: 400;
}

.third_product_name {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.price_of_product_name  {
  text-decoration: underline;
  margin-top: -50px;
}

.total_price_div {
  max-width: 645px;
}

.line_in_total_price {
  height: 1px;
  min-width: 645px;
  width: 100%;
  background-color: #373635;
}

.end_flex_price {
  display: flex;
  justify-content: flex-end;
}

.total_price {
  font-size: 28px;
  font-weight: 400;
  display: inline-block;
  margin-left: 72px;
}

.numbers_in_total_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.total_p {
  display: inline-block;
}

.total_price span {
  text-decoration: underline;
}

.line_in_total_price_2 {
  margin-bottom: 40px;
}

.menu_in_total_price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.menu_in_total_price {
  font-weight: 300;
}

.menu_in_total_price img {
  margin-right: 10px;
}

.content {
  width: 1200px;
  margin: 0 auto;
}