.btn {
    display: flex;
   flex-direction: row;
   justify-content: center;
align-items: center;
padding: 15px 25px;
position: absolute;
width: 328px;
height: 63px;
left: 1172px;
top: 853px;
background: #373635;
border-radius: 12px;
}