/* @import url(“https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap”); */

.filter-menu-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.filter-menu-container select {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  background-image: url(../../images/dropdown.png);
  background-repeat: no-repeat;
  background-position: 185px, 30px;
}
.filter-menu-header-dropdown {
  border: 1px solid black;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #F3F3EC;
  width: 213px;
  height: 48px;
  border-radius: 12px;
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding: 13px;
}

.filter-menu-header {
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 27px;
}
.select-manually {
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #827777;
  margin-bottom: 20px;
}
.manual-input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.manual-input-row {
  display: flex;
  align-items: center;
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(130, 119, 119, 1);
  margin-bottom: 20px;
}
.manual-input-row input {
  color: black;
  background-color: transparent;
}
.manual-input-size {
  width: 100px;
  height: 40px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #F3F3EC;
  padding-left: 10px;
}
.manual-input-price {
  width: 60px;
  height: 40px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #F3F3EC;
  padding-left: 10px;
}
.price-row {
  padding-bottom: 40px;
}

.price-row {
  padding-bottom: 40px;
}

.manual-input-row input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.manual-input-row input[type="number"] {
  -moz-appearance: textfield;
}
