.hr{
  color:#373635;
}
.checkbox-css{
  background-color: red;
  width: 60px;
  border-radius: 50%;

}

select {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 10px;
}

.form-select{
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 12px ;

}

.filter-menu-section {
  display: flex;
  justify-content: space-between;
}

.dropdown-btn {
  background: transparent;
  border: none;
}

.dropdown-btn span {
  font-size: large;
}

.filter-menu-container {
  width: 100%px;
  padding-left: 64px;
}

.checkbox-row {
  margin-bottom: 20px;
  width: 50px;
  display: flex;
  flex-wrap: nowrap !important;
  
}

.checkbox-title {
  margin-left: 0px;
  width: 100px;
}

.select-all-options {
  text-decoration: underline;
  margin-bottom: 10px;
}

.select-manually {
  color: rgba(130, 119, 119, 1);
  margin-bottom: 10px;
}

.manual-input-size {
  width: 120px;
  height: 25px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.manual-input-price {
  width: 60px;
  height: 25px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.manual-input-container {
  color: rgba(130, 119, 119, 1);
  margin-bottom: 10px;
  display: flex;
}
