.Item-Cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 33px;
  margin-bottom: 100px;
}

.product-item {
  color: black;
  font-size: 20px;
  width: 510px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.product-item_image {
  width: 510px;
  height: 308px;
  float: top;
  overflow: hidden;
  object-fit: cover;
}

.product-item_logo {
  width: 510px;
  height: 308px;
  float: top;
  overflow: hidden;
  object-fit: cover;
}

.product-item_detailes {
  display: flex;
  width: 100% !important;
  /* flex-direction: column; */
  justify-content: space-between;
  padding-top: 24px;
}

.product-item-text-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.product-text-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.product-text-price {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.product-item-text-two {
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-item-text-three {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}
