@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.slider-container-box {
  display: flex;
  justify-content: center;
}

.slider-third {
  border-bottom: none;
}

.slider-title {
  margin-top: 60px;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.slider-container {
  width: 90%;
  height: 578px;
}

.slick-slider {
  padding: 0;
}

.slider-item-img {
  display: block;
  box-sizing: border-box;
  width: 364px;
  height: 220px;
  object-fit: cover;
}

.slick-slide {
  width: 448px !important;
  height: 344px !important;
  background: rgba(255, 255, 255, 1);
  padding: 32px 42px 92px 42px;
  border-radius: 12px !important;
  margin: 25px 25px 0 25px;
}

.slick-arrow::before {
  display: none;
}

.slick-prev {
  margin: -20px;
  background: #292929;
  opacity: 60%;
  width: 13.23px ;
  height: 21.43px;
}

.slick-next {
  margin: -20px;
  background: #292929;
  opacity: 60%;
  width: 13.23px ;
  height: 21.43px;
  margin-top: 10px;
}

.slider-item-text-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.slider-text-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.slider-text-price {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}
.slider-text-discount-price {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

.line-through {
  text-decoration: line-through;
}

.new-price {
  color: red;
}

.discount-arrow {
  width: 30px;
  height: 10px;
  margin: 0 10px;
}

.slider-item-text-two {
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.slider-item-text-three {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
  opacity: 70%;
}
