@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400&display=swap");

.hr{
    color:#373635;
  }
 
.contactshr{
  margin-top: -30px;
}
.contacts span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contacts-page{}
.prevhr{
  margin-top: 50px;
}
.contactshr1{
  margin-bottom: 40px;
}

.contacts-page p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  width: 80%;
}
.contacts-social {
  padding-bottom: 10px;
  margin-top: 40px;
}
.contacts-email {
  margin-bottom: 40px;
}
.contacts-num {
  margin-bottom: 40px;
}
.socialicons {
  display: flex;
}

.socialtw {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #229ed9;
  background-image: url(../../images/twIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 30px;
  margin-right: 30px;
  background-size: contain;
}
.contacts-address{
  margin-bottom: 40px;
  margin-top: 25px;
}

.instaicon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #229ed9;
  background-image: url(../../images/insta-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.socialfb {
  width: 20px;
  height: 20px;
  background-color: #1877f2;
  border-radius: 50%;
  background-image: url(../../images/fbIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}
.contatcts-text{
  padding-bottom: 15px;
}
.contatcts-text p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-top: 30px;
  width: 85%;
}

.lasthr{
  margin-top: 10px;
  margin-bottom: 500px;
}