.spinner {
  text-align: center;
  margin-top: 25%;
  margin-bottom: 75%;
}
.ant-spin-dot {
  width: 120px;
  height: 120px;
}

.ant-spin-dot-item {
  background-color: #363735;
}

.ant-spin-lg .ant-spin-dot i {
  width: 100px;
  height: 100px;
}
