@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Rhodium+Libre&display=swap");

.main-page-container {
  background-image: url("../../images/main-bg-vector.svg"),
    url("../../images/main-bg-vector2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right 100% top 17%, left 100% top 95%;
}

.main-page-box {
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sell-now-container {
  height: 628px;
  background: url("../../images/sell-now.png");
  display: flex;
  flex-direction: column;
}

.main-page-title {
  width: 1137px;
  height: 98px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 125px;
  margin-top: 225px;
}

.sell-now-box {
  margin-left: 125px;
  margin-top: 51px;
}

.sell-now-btn {
  width: 724px;
  height: 106px;
  background: #373635;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.sell-now-btn:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.sell-now-btn span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #f3f3ec;
  text-transform: uppercase;
}

.category-btns-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 100px;
}

.filter-btn:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.category-btns-box {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-btns-box button {
  background-color: transparent;
  border: none;
}

.all-btn {
  width: 111px;
  height: 60px;
  background: #027eda;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
}

.all-btn .category-btn-title {
  color: white;
}

.paintings-btn {
  width: 191px;
  height: 60px;
  border: 3px solid #373635;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.handicrafts-btn {
  width: 323px;
  height: 60px;
  border: 3px solid #373635;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.ceramics-btn {
  width: 180px;
  height: 60px;
  border: 3px solid #373635;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-btn-title {
  font-family: "Rhodium Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  color: rgba(55, 54, 53, 1);
}

.about-container {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  width: 1666px;
  height: 732px;
  background: #c4c4c4;
  border-radius: 12px;
  display: flex;
}

.about-left {
  width: 50%;
  padding: 50px 0px 99px 80px;
}

.about-title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 79px;
  color: #373635;
}

.about-text {
  width: 744.38px;
  height: 252px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #373635;
  margin-top: 56px;
  margin-bottom: 63px;
}

.about-btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.52px;
  line-height: 23px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.about-right {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 76px 40px 99px 62px;
}

.about-right img {
  width: 741.21px;
  height: 557px;
}
