/* .searchbar {
    width: 417px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 150px 10px 10px;
    background: #C4C4C4;
    border-radius: 12px;
} */
