.breadcrumbs {
  display: flex;
  justify-content: start;
  height: 50px;
  margin-top: 50px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #373635;
}
.painthr{
  margin-top: -30px; 
}

.breadcrumbs span a {
  text-decoration: none;
  color: #373635;
}

.breadcrumbs span:first-child :hover {
  color: #e1c55f;
  cursor: pointer;
}

.sort-items-container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;


}

.sort-items-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.sort-items-select select {
  width: 213px;
  height: 48px;
  display: flex;
  align-items: center;
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border-radius: 12px;
  padding: 13px;
  outline: none;
  -webkit-appearance: none;
  background-image: url(../../images/dropdown.png);
  background-repeat: no-repeat;
  background-position: 180px, 30px;
}

.catalog-container {
  display: flex;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
