.footer {
  display: flex;
  justify-content: space-between;
  background: #373635;
  height: 393px;
  width: 100%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  padding: 60px 35px 0 120px;
}
.min-menu {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding-right: 131px;
  margin-bottom: 20px;
  padding-left: 100px;
}

.categories span,
.about-company span,
.rules span {
  color: #e1c55f;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.footer-menu :hover {
  color: #e1c55f;
}

.ul-margin {
  margin-top: 20px;
}

.footer-logo {
  width: 20%;
  background-image: url(../../images/icons/artkoldoo-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 111px;
  height: 59px;
  margin-top: 70px;
}

.categories {
  width: 35%;
}
.about-company {
  width: 35%;
}
.rules {
  width: 38%;
}
.rules .nav-links {
  white-space: pre-line;
}
.pt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.pt-44 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 35px;
  opacity: 80%;
}

.social {
  width: 20%;
  height: 53px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-tw {
  background-image: url(../../images/twIcon.png);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 23px;
}

.social-fb {
  width: 21px;
  height: 21px;
  background-color: #1877f2;
  border-radius: 50%;
  background-image: url(../../images/fbIcon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.insta-icon {
  width: 21px;
  height: 21px;
  background-color: #f2189e;
  border-radius: 50%;
  background-image: url(../../images/insta-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 23px;
}
