@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap");

header {
  background: #373635;
  width: 100%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}

.header-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: 1590px;
  height: 150px;
  padding: 0 100px 0 100px;
}

.header-left ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header-left a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.header-left span {
  margin-right: 10px;
}

.nowrap {
  white-space: nowrap;
  margin-right: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

img {
  width: 149.28px;
  height: 84.15px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.searchBar {
  width: 317px;
  height: 34px;
  align-items: center;
  display: flex;
  z-index: 123;
  text-indent: 40px;
  top: 30px;
}

.vector {
  /* background-image: url("../../images/Vector\(7\).png"); */
  background-repeat: no-repeat;
  margin-left: 235px;
  width: 12px;
  height: 51px;
  position: absolute;
  z-index: 456;
  top: 45px;
}
.search_icon {
  /* background-image: url(../../images/Vector\(8\).png); */
  background-size: contain;
  width: 17px;
  height: 17px;
  margin-left: 510px;
  top: 40px;
  position: absolute;
  z-index: 125;
}
.shop_cart {
  /* background-image: url(../../images/Vector\(9\).png); */
  background-size: contain;
  position: absolute;
  z-index: 566;
  width: 17px;
  height: 17px;
  margin-left: 560px;
  margin-top: 40px;
}
.lastitem {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 580px;
  list-style-type: none;
  top: 37px;
  position: absolute;
}
