@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap");

header {
  background: #373635;
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  
  
}

.header-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 1590px;
  margin: 0 75px 0 75px;
  
}

.header-left {
   width: 100%;
}
.nav-menu{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 44px;
  margin-top: 18px;

  
}
.nav-links a:nth-child(3n){
  padding-left: 144px;
}

.logo {
  display: flex;
  align-items: center;
}

img {
  width: 149.28px;
  height: 84.15px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
 width: 100%;
 
}
.searchBar{
  padding: 53px 40px 53px 120px;
  
}
input, select, textarea{
  color: #FFFFFF;
}
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 150px 10px 10px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 12px;
  width: 420px;
  height: 34px;
  align-items: center;
  display: flex;
  z-index: 123;
  top: 30px;
  background-color: #373635;

  
}

.vector {
  background-image: url('../../images/arrow_down.svg');
  background-repeat: no-repeat;
  padding-left: 390px;
  width: 12px;
  height: 7.41px;
  position: absolute;
  z-index: 456;
  top: 73px;
}
.search-icon {
  background-image: url(../../images/search_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  padding-left: 70px;
  top: 67px;
  position: absolute;
  z-index: 125;
}
.shop-cart {
  background-image: url(../../images/cart_icon.svg);
  background-size: contain;
  position: absolute;
  z-index: 566;
  width: 17px;
  height: 17px;
 
}

.lastitem ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
 
}
.lastitem ul {
  list-style-type: none;
  text-decoration: none;
}
.lastitem{
  margin-top: 18px;
}

