body {
  width: 1920px;
  margin: 0 auto;
  background: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 0 165px 0 165px;
  width: 100%;
}
