@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400&display=swap");

.breadcrumbs{
    display: flex;
    justify-content: start;
    height: 50px;
    margin-top: 50px;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #373635;
    margin-right: 0;
    margin-bottom: 40px;
  }
  
.forpartners span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.partners-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 500px;
    margin-top: 40px;
    width: 70%;
}
.partnershr{
    margin-bottom: 40px;
    margin-top: -30px;
}
.partnershr1{
    margin-top: 40px;
}