@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

.hraboutus {
  color: #373635;
  margin-top: -30px;
  margin-bottom: 40px;
  
}
.hrafter{

}

 
.short-info {
  background-color: #737373;
  border-radius: 8.6px;
  display: flex;
  align-items: center;
  margin-top: 70px;
 
}

.about-us-Block span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 40px;
}

.short-info-text {
  width: 50%;
  margin-left: 97px;
  padding: 70px 0 0 0;
}

.short-info-description {
  width: 1160px;
  height: 442px; 
  margin-top: 30px; 
}

.short-info-description p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 100%;
  padding-right: 674px;
}

.short-info-logo {
  width: 219px;
  height: 219px;
  border-radius: 50%;
  background-color: #373635;
  background-position: center;
  border: black 1pxx solid;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15%;
}

.short-info span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #E1C55F;
 
}
.short-info p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.founders-block {
  margin-top: 100px;
  margin-bottom: 417px;
 
}
.pol {
  margin-bottom: 40px;
}
.founders-block span,
.about-us-Block span {
  font-size: 20px;
}

.founders {
  width: 50%;
  font-size: 24px;
}

.founder-img img {
  width: 244px;
  height: 208px;
}

.founder-img {
  margin-bottom: 62px;
}
.sec img {
  width: 244px;
  height: 208px;

}

.founder-text {
  padding-left: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}

.founder1 {
  display: flex;
}

