@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
.hr {
  color: #373635;
}
.short-info {
  background-color: #737373;
  border-radius: 12px;
  margin-top: 70px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.short-info-text {
  padding: 70px 0 70px 50px;
  width: 50%;
}

.short-info-logo {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #373635;
  background-position: center;
  border: black 1pxx solid;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15%;
}

.short-info span {
  color: #e1c55f;
  font-size: 36px;
}
.short-info p {
  margin-top: 35px;
}

.founders-block {
  margin-top: 70px;
}
.founders-block span,
.about-us-Block span {
  font-size: 38px;
}

.founders {
  width: 50%;
  margin-top: 70px;
  font-size: 24px;
}

.founder-img img {
  width: 295px;
  height: 252px;
}

.founder-img {
  margin-bottom: 35px;
}

.founder-text {
  padding-left: 50px;
}

.founder1 {
  display: flex;
  justify-content: space-between;
}
